.card {
    width: 240px;
    height: 56px;
    border-radius: 8px;
}


.card.isFocused {
    background: #575757;
}

.card.isActive {
    background: #575757;
}

.artistName {
    font-size: 12px;
    color: #808080FF;
}

.imgBtn {
    width: 56px;
    height: 56px;
}


.img {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.img.isFocused {
    opacity: 0.6;
}

.img.isActive {
    opacity: 0.6;
}


.playBtn {
    left: 14px;
    bottom: 46px;
    opacity: 0;
}


.playBtn.isFocused {
    opacity: 1;
}

.playBtn.isActive {
    opacity: 1;
}

.trackBtn {
    padding-right: 8px;
    justify-content: center;
}