.table {
    padding-top: 20px;
    padding-bottom: 40px;
    height: var(--content-height);
    max-height: 368px;
    overflow: auto;
}


.cardBody {
    height: var(--content-height);
    padding: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}