.createCard {

    height: 60px;
    background: var(--card-bg);
    padding: 8px;
    border-radius: 8px;
    transition: height 0.2s, width 0.4s;
}

.cardIsFocused.cardIsFocused {
    transition: height 0.2s, width 0.4s;

    width: 240px;
    height: 128px;
}
